body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

nav ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

nav {
    position: relative;
    width: 192rem;
    height: 108rem;
    /* display: flex; */
    /* justify-content: center; */
}

nav .arrows .left-arrow {
    width: 49px;
    height: 78px;
    background-image: url(../images/left-arrow.png);
    background-size: cover;
    position: absolute;
    left: 7rem;
    top: calc(50% - 3.9rem);
    z-index: 1;
    border: none;
    background-color: transparent;
    transition: 0.2s;
    
}

/* nav .arrows .left-arrow:hover{
    transform: scale(1.2 ,1.2)
} */

nav .arrows .right-arrow {
    width: 49px;
    height: 78px;
    background-image: url(../images/right-arrow.png);
    position: absolute;
    right: 7rem;
    top: calc(50% - 3.9rem);
    z-index: 1;
    border: none;
    background-color: transparent;
    transition: 0.2s;
}

nav .arrows .hover:hover{
    transform: scale(1.2 ,1.2)
}

nav ul li .informations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    width: 62rem;
    height: 70rem;
    padding: 6.5rem 6rem;
    margin-left: 18rem;
}

nav ul li .informations h2 {
    font-size: 5rem;
}

nav ul li .informations p {
    font-size: 2.5rem;
    line-height: 35px;
}

nav ul li .informations a {
    font-size: 3rem;
    font-weight: bold;
    color: #C50000;
}

.slide {
    background-repeat: no-repeat;
    background-size: cover;
    width: 192rem;
    height: 108rem;
    border-radius: 10px;
    display: none;
    transition: 0.3s ease-out ;
}

.slider-1 {
    background-image: url(../images/image-1.png);
}

.slider-2 {
    background-image: url(../images/image-2.png);
}

.slider-3 {
    background-image: url(../images/image-3.png);
}

.slider-4 {
    background-image: url(../images/image-4.png);
}

.show {
    display: flex;
}

.opacity {
    opacity: 0.6;
}