body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #faebd7;
}

main {
  position: relative;
  width: 192rem;
  height: 108rem;
  margin: 2rem;
}

main .arrows .arrow {
  width: 4.9rem;
  height: 7.8rem;
  background-image: url(../images/left-arrow.png);
  background-size: cover;
  position: absolute;
  top: calc(50% - 3.9rem);
  z-index: 1;
  transition: 0.2s ease-in-out;
}

main .arrows .left-arrow {
  left: 7rem;
}

main .arrows .right-arrow {
  rotate: 180deg;
  right: 7rem;
}

main .arrows .arrow:hover {
  transform: scale(1.2, 1.2);
  cursor: pointer;
}

main .arrows .disabled:hover {
  transform: scale(1, 1);
  cursor: default;
}

main .slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 192rem;
  height: 108rem;
  border-radius: 1rem;
  position: absolute;
  opacity: 0;
  transition: 0.4s ease-in-out;
  box-shadow: 0px 0px 100px -20px rgba(0, 0, 0, 0.7);
}

main ul li .informations {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 62rem;
  gap: 6.5rem;
  padding: 6.5rem 6rem;
  margin-left: 18rem;
}

main ul li .informations h2 {
  font-size: 5rem;
}

main ul li .informations p {
  font-size: 2.5rem;
  line-height: 3.5rem;
}

main ul li .informations a {
  font-size: 3rem;
  font-weight: bold;
}

.slider-1 {
  background-image: url(../images/image-1.png);
}

.slider-2 {
  background-image: url(../images/image-2.png);
}

.slider-3 {
  background-image: url(../images/image-3.png);
}

.slider-4 {
  background-image: url(../images/image-4.png);
}

.button-red {
  color: #c50000;
}

.button-green {
  color: #d9dd10;
}

.button-orange {
  color: #a63a17;
}

.button-blue {
  color: #10acdd;
}

main .show {
  opacity: 1;
}

main .disabled {
  opacity: 0.6;
}

@media (max-width: 1960px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 1590px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 5px;
  }
}

@media (max-width: 1000px) {
  body {
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
  }

  main {
    position: unset;
    height: 0;
    width: 0;
    margin: 0;
  }

  main .slide {
    height: 100vh;
    width: 100vw;
    border-radius: 0;
    align-items: center;
  }

  main ul li .informations {
    margin-left: 0;
    padding: 2.5rem 2rem;
    text-align: center;
    width: 40rem;
    gap: 5rem;
  }
}
